*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
   font-size: 2rem;
   color: black;
    
  
    font-family: "Pacifico", cursive;
    font-weight: 500;
    /* font-style: norm; */
}
.navbar-brand:hover{
    color: black;
}
.nav-item { 
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;

}
.nav-item:hover{
    color: #000;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    margin-right: -36px; 
    outline: none;
    border: 2px solid rgb(248, 26, 92);

}
.btn0{
    height: 40px;
    width: 80px;
    outline: none;
    border: none;
    background: 2px  rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.maine{
    background-image:url('./fruit.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    height: 700px ;
    background-position: 50% 50%;
    width: 100%;
}
.maine h1{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}
.btn1{
    height: 45px;
    padding: 10px;
    width: 200px;
    border:none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
    
}
.btn1:hover{
    background-color: rgb(249, 5, 5);
    transition: 0.5s;

}
.img-luid{ height: 90px;
        width: 90px;
        

}
.img-luid2{
    height: 120px;
    width: 170px;
}
.product{
      text-align: center;
}
.card:hover{
    box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 25px -4px rgba(0,0,0,0.75);
transition: 0.5s;
}
.img-luid33{
    height: 270px;
    width: 300px;
}
.apple{
    background-image:url(./applee.jpg);

    background-size: cover;
    height: 500px ;
    /* background-position: 50% 50%; */
    width: 100%;
}   

.apple h1{
    font-family: "Pacifico", cursive;
    font-weight: 500;
    color: black;
}
.last{
    color: #000;
}

.news{
    background-color: #000;
    color:white;

}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}
.news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}

.news::placeholder{
    color: white;

}

.fab{
    font-size: 2.5rem;
    cursor: pointer;
    padding-right: 5px;

}
